.search{
    &_input{
        width: 90%;
        padding: 1rem;
        outline: none;
        border: 1px solid $color-text;
        border-radius:5rem 0px 0px 5rem;
        font-family: inherit;
    }
}

.btn{
    background-color: $secondary-color;
    border: none;
    cursor: pointer;

    &:hover{
        @include animate-button;
        transition: all .2s;
    }
    &-round{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        outline: none;
    }

    &-submit{
        font-weight: bold;
        padding: 1rem;
        height: 4.1rem;
        font-family: inherit;
        margin-left: -4px;
        border-radius: 0px 5rem 5rem 0px;
    }
}