.main-section {
    width: 1114px;
    background-color: $main-background-color;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 6rem;
    .section-1 {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
        .btn-container {
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
        }
    }
    .section-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8rem;
        .weather-image{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .temp-value{
            display: flex;
            flex-direction: column;
        }
    }
    .section-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 3rem;
        justify-content: center;
    }
}
