@media screen and (max-width: 1098px) {
    body{
        background-color: $main-background-color;
    }
    .main-section{
        width: 100vw;
        height: 100vh;
    }
    .modal{
        width: 50vw;
    }
}

@media screen and (max-width: 1000px) {

    p{
        &.extra-data{
            font-size: 2rem;
        }
    }

    h1{
        font-size: 25rem;
    }

    h2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 867px) {
    .main-section{
        .section-3{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    .modal{
        width: 70vw;
    }
}

@media screen and (max-width: 855px) {
    .main-section{
        .section-2{
            flex-direction: column;
        }
    }

    .modal{
        width: 90vw;
    }
}

@media screen and (min-width: 200px) and (max-width: 614px) {
    .main-section{
        .section-1{
            flex-direction: column;
            .btn-container {
                margin: 2rem;
            }
        }
        .section-3{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }

    .modal{
        width: 100vw;
    }
}