h3{
    font-size: 3rem;
    color: $primary-color;
}

h1{
    font-size: 30rem;
    color: $color-text;
    height: 36rem;
    font-weight: 700;
    position: relative;

    .units{
        position: absolute;
        font-size: 5rem;
        top: 5.5rem;
        right: -2rem;
    }
}

h2{
    font-size: 4rem;
    color: $color-text;
}

.image{
    height: 35rem;
}

p{

    &.extra-data{
        font-size: 2.5rem;
        color: $color-text;

        .fa-diamond{
            margin-right: 1.5rem;
        }
        .extra-value{
            color: $primary-color;
        }
    }
}